/* src/components/home/TestimonialSection.module.css */

.testimonialSection {
  width: 100%;
  background-color: var(--color-primary);
}

.testimonialSectionFlex {
  display: flex;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1200px;
  /* Can be wider than other content */
  margin: 0 auto;
  position: relative;
}

.testimonialSectionLeft, .testimonialSectionRight {
  padding: var(--space-xxl) var(--space-xxxl);
  color: var(--color-text-inverted);
  width: 50%
}


.testimonialSectionLeft {
  background-color: var(--color-primary);
}

.testimonialSectionLeft::after {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-dark);
  z-index: 1;
}

.testimonialSectionRight {
  background-color: var(--color-brand-dark);
}

.testimonialSectionLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.testimonialSectionSubtitle {
  font-family: var(--font-family-body);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: var(--space-md);
  display: block;
  color: var(--color-text-inverted);
}

.testimonialSectionTitle {
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  font-weight: var(--font-weight-extrabold);
  line-height: 1.3;
  color: var(--color-text-inverted);
  margin: 0;
}

/* Responsive */
@media (max-width: 650px) {
  .testimonialSectionFlex {
    flex-direction: column;
  }

  .testimonialSectionLeft,
  .testimonialSectionRight {
    padding: var(--space-xxl) var(--space-xl);
    width: 100%;
  }

  .testimonialSectionTitle {
    font-size: 2rem;
  }

  .testimonialSectionLeft::after {
    display: none;
  }
}
